# List of configuration files to be backed up
# Format: [file_name] | [origin_dir] | [destination_dir]

# ===================== DOT FILES =====================
# .aliases
# .bashrc
# .vimrc
# .bash_profile
#
.aliases | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Dotfiles
.bashrc | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Dotfiles
.vimrc | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Dotfiles
.bash_profile | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Dotfiles


# ==================== SUBLIME TEXT ===================
# Package Control.sublime-settings
# Preferences.sublime-settings (../Packages/User)
# Python3.sublime-build
#
'Package Control.sublime-settings' | /Users/chris/Library/'Application Support'/'Sublime Text 3'/Packages/User | /Users/chris/Dropbox/misc/dotfiles/SublimeText/UserSettings
Preferences.sublime-settings | /Users/chris/Library/'Application Support'/'Sublime Text 3'/Packages/User | /Users/chris/Dropbox/misc/dotfiles/SublimeText/UserSettings
Python3.sublime-build | /Users/chris/Library/'Application Support'/'Sublime Text 3'/Packages/User | /Users/chris/Dropbox/misc/dotfiles/SublimeText/UserSettings


# ===================== HOST FILES ====================
# httpd-vhosts.conf
# hosts
#
httpd-vhosts.conf | /Applications/MAMP/conf/apache/extra | /Users/chris/Dropbox/misc/dotfiles/HostFiles
hosts | /etc | /Users/chris/Dropbox/misc/dotfiles/HostFiles


# ==================== iTERM2 FILES ===================
# com.googlecode.iterm2.plist
# iterm2_default.itermcolors
#
com.googlecode.iterm2.plist | /Users/chris/Documents/TerminalProfiles/iTerm2/Default | /Users/chris/Dropbox/misc/dotfiles/iTermProfiles/Default
iterm2_default.itermcolors | /Users/chris/Documents/TerminalProfiles/iTerm2/Default | /Users/chris/Dropbox/misc/dotfiles/iTermProfiles/Default


# ==================== GIT FILES ===================
# .gitconfig
# .gitignore_global
#
.gitconfig | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Git/Mac
.gitignore_global | /Users/chris | /Users/chris/Dropbox/misc/dotfiles/Git/Mac
